<div style="display: flex;">

  <input matInput placeholder="name" [(ngModel)]="name">
  <input matInput placeholder="age" [(ngModel)]="age">

<button mat-button color="accent" style="margin: 10px;" (click)="addData()">Accent</button>

</div>

<div>
  <table mat-table [dataSource]="listData" class="mat-elevation-z8 table-test" style="width: 100%;" >

  <ng-container matColumnDef="name" style="width: 200px;">
    <th mat-header-cell *matHeaderCellDef> name </th>
    <td mat-cell *matCellDef="let element"> {{element.data().name}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="age" style="width: 200px;">
    <th mat-header-cell *matHeaderCellDef> Age </th>
    <td mat-cell *matCellDef="let element"> {{element.data().age}} </td>
  </ng-container>

  <ng-container matColumnDef="action" style="width: 200px;">
    <th mat-header-cell *matHeaderCellDef> Delete </th>
    <td mat-cell *matCellDef="let element" (click)="deleteData(element.id)"> Delete </td>
  </ng-container>
 
  <ng-container matColumnDef="update" style="width: 200px;">
    <th mat-header-cell *matHeaderCellDef> Update </th>
    <td mat-cell *matCellDef="let element" (click)="updateData(element.id)"> Update </td>
  </ng-container>
 

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>

