.example-container {
    width: 100vw;
    height: 93vh;
    // border: 1px solid #fff;
  }
  
  .example-sidenav-content {
    // display: flex;
    height: 100%;
    // align-items: center;
    // justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
    background-color: #ff408121;
  }