<ngx-loading [show]="loading" [config]="{ animationType: 'wandering-cubes',
backdropBackgroundColour: 'rgba(255,255,255,0.3)', backdropBorderRadius: '10px',
primaryColour: '#6ac9d2', secondaryColour: '#e494a7', tertiaryColour: '#fffff' }"></ngx-loading>

<nav id="navbar-example2" class="navbar navbar-light px-3" style="background-color: #ff408121;">

    <a class="navbar-brand" style="display: flex;">
        <mat-icon (click)="drawer.toggle()" matSuffix>reorder</mat-icon>
       <div style="margin-left: 15px;margin-top: 2px;">Ooy To Eve</div> 
    </a>

    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" href="test">Profile</a>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link" href="">Second</a>
        </li> -->

    </ul>
</nav>

    <mat-drawer-container class="example-container" autosize >

        <mat-drawer #drawer class="example-sidenav" mode="side">

            <p>Auto-resizing sidenav</p>
            <p>Auto-resizing sidenav</p>
            <p>Auto-resizing sidenav</p>

        </mat-drawer>

        <div>

            <router-outlet></router-outlet>

        </div>

    </mat-drawer-container>

